%h3 Thanks for using Interviewr

%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, doloremque illo et error quis autem natus fugit voluptatum explicabo tenetur esse laudantium sunt totam. Nobis, qui dignissimos placeat odio dolor.

%p{ style: 'color:red'} Lorem ipsum dolor sit amet, consectetur adipisicing elit.

%p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, doloremque illo et error quis autem natus fugit voluptatum explicabo tenetur esse laudantium sunt totam. Nobis, qui dignissimos placeat odio dolor.

/ Notifications.exam_taken('x').deliver