=form_for @user, :remote => true do |f|
  =f.label :first, 'First Name'
  =f.text_field :first, :autofocus => true
  =f.label :last, 'Last Name'
  =f.text_field :last
  =f.label :email
  =f.text_field :email
  =f.label :phone, 'Phone Number'
  =f.text_field :phone
  =f.label :password
  =f.password_field :password
  =f.label :password_confirmation
  =f.password_field :password_confirmation
  =f.submit 'Save and Log in', :class => "button radius tiny"
  =link_to("Cancel", "#", :"data-clear-form" => true, :class => "button radius tiny alert")