.row
  .small-5.small-centered.columns
    #login


#splash
  .row
    .large-6.columns
      %h1.hero{ style: 'padding-top: 50px;' } Welcome.
      %h3 Pour-over etsy terry richardson, cray sustainable cosby sweater hella leggings.


#index_content
  #circle
  .row#search_bar
    .large-8.large-offset-2.columns
      = text_field_tag :search, nil
    .large-1.columns
      #reset= link_to(image_tag("reset.png"), root_path)
    .large-1.columns

  .row
    .large-12.large-centered.columns#exams
      = render :partial => 'search_results'







