
%h1 Hi.

/ - if @auth.present?
.row
  .large-6.columns
    = text_field_tag :search, nil, :autofocus => true
  .large-6.columns

#search_results
  = render partial: 'search_results'

.row
  .small-5.small-centered.columns
    #login

