<<<<<<< HEAD
#container
=======
.row
  .small-5.small-centered.columns
    #login
>>>>>>> sean
%h1 Hi.
.search
  .row
    .large-6.columns
      = text_field_tag :search, nil, :autofocus => true
    .large-6.columns
  .row.large-6.columns#exams
    = render :partial => 'search_results'
  .large-6.columns
<<<<<<< HEAD
.row
  .small-5.small-centered.columns
    #login
=======
.row.large-6.columns#exams
  = render :partial => 'search_results'

>>>>>>> sean
