@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

@import "custom_settings.scss";
@import "foundation.scss";

#login {
  display: none;
}

span label {
  display: inline-block;
}

#score_chart {
  width: 100%;
  height: 300px;
}