@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

@import "custom_settings.scss";
@import "foundation.scss";

#login {
  display: none;
}

#info td:first-child {
  font-weight: bold;
}

#info {
  width: 100%;
}

#map_canvas {
  width: 100%;
  height: 200px;
}

#my_exams li {
  list-style: none;
}

#my_exams a {
  font-weight: bold;
}

span label {
  display: inline-block;
}

#questions li{
  list-style-type: decimal;
}

#choices li{
  list-style-type: lower-latin;
  margin-left: 10px
}

.ui-accordion-content {
 border: none;
 background: none;
}

.ui-accordion-header{
  border: none;
  background: none;
}


#score_chart {
  width: 100%;
  height: 300px;
}

#exam_table {
  width: 100%;
}

#taken_exams {
  width: 100%;
  text-align: center;
}

#user_chart {
  width: 100%;
  height: 500px;
}

