@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700,900);

@import "custom_settings.scss";
@import "foundation.scss";

#login {
  display: none;
}

#info td:first-child {
  font-weight: bold;
}

#map_canvas {
  width: 220px;
  height: 200px;
}

#exams li {
  list-style: none;
}

#exams a {
  font-weight: bold;
}

span label {
  display: inline-block;
}

#questions li{
  list-style-type: decimal;
}

#choices li{
  list-style-type: lower-latin;
  margin-left: 10px
}

// .ui-accordion-content {
//   border: none;
//   background: none;
// }

// .ui-accordion-header{
//   border: none;
//   background: none;
// }