#exam_form.row
  .large-10.columns.large-centered
    %h1 New Exam Page
    = link_to('Create New Exam', '#', class: 'button secondary')
    .exam_form_partial{ style: 'display: none;'}
      = render partial: 'form'

#exams.row
  .large-10.columns.large-centered
    %h3 My Exams
    - Exam.all.each do |exam|
      %p
        %strong= exam.name
        = exam.tags.map(&:name).join(', ')

#question_form


%script
  $(document).ready(exam_form.document_ready)