#exam_form.row
  .large-10.columns.large-centered
    %h1 New Exam Page
    #exam_button
      = link_to('Create New Exam', '#', class: 'button secondary')
    .exam_form_partial{ style: 'display: none;'}
      = render partial: 'form'

#exams.row
  = render partial: 'exams/exams'
#question_form


%script
  $(document).ready(exam_form.document_ready)

