.row
  .small-8.small-centered.columns#show_body
    =form_tag submit_exam_path, :remote => true do
      -@exam.questions.each do |question|
        %p= question.text
        -(@responses.select{|x| x.question == question}).each do |response|
          %span
            =label_tag(response.choice.text)
            =check_box_tag("#{question.id}[]", response.id)
      %br
      =submit_tag